.index {
    background-image: url(img/bg-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/************************************************************************************NavBar*/
.navlinks {
    padding: 16px;
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 25px;
}

.navlinks:hover {
    color: rgb(174, 168, 168);
    font-size: 26px;
}

/*********************************************************************************Begrüßung*/
.begruessung {
    background-image: url(img/eclipse-g78ca531e9_1280.jpg);
    background-size: cover;
    margin: 0;
}

.überschriftbegrüssung {
    color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    left: 655px;
    font-size: 55px;
    top: 50px;
}

.überschriftbegrüssung1 {
    position: absolute;
    left: 150px;
    right: 150px;
    top: 180px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
}

.begtext1 {
    position: absolute;
    left: 50px;
    top: 400px;
    color: white;
    width: 500px;
    font-size: 40px;
}

.begtext2 {
    position: absolute;
    right: 50px;
    top: 400px;
    color: white;
    width: 500px;
    font-size: 40px;
    text-align: end;
}

/**************************************************************************Weltraumbahnhof*/
.weltraumbahnhof {
    /*weltraumbahnhof*/
    background-image: url(img/Background-Projekte.jpg);
    background-size: cover;
    margin: 0;
}

.planeten {
    margin-top: 150px;
    padding: 0px;
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-around;
    font-size: 35px;
}

.planeten:hover {
    color: rgb(174, 168, 168);
    font-size: 36px;
}

/**********************************************************************************Saturn*/
.saturn {
    /*saturn*/
    background-image: url(img/background-saturn.jpg);
    background-size: cover;
    margin: 0;
}


.saturntext {
    position: absolute;
    left: 50px;
    right: 50px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.saturntext1 {
    position: absolute;
    top: 850px;
    left: 50px;
    color: white;
    font-size: 30px;
    width: 800px;
    text-align: left;
}

.saturntext2 {
    position: absolute;
    top: 850px;
    right: 50px;
    color: white;
    font-size: 30px;
    width: 800px;
    text-align: right;
}

.zusaturn2 {
    color: white;
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zusaturn2:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.audiosaturn{
    position: absolute;
    left: 50px;
    bottom: 50px;
}

/***************************************************************************Saturnbilder*/
.saturnbilder {
    /*saturnbilder*/
    background-image: url(img/bg-mehrzustaurn.jpg);
    background-size: cover;
    margin: 0;
}

.mehrsaturntext {
    color: white;
    position: absolute;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}

.mehrsaturntext1 {
    color: white;
    position: absolute;
    top: 350px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}

.mehrsaturntext2 {
    color: white;
    position: absolute;
    top: 550px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}

.mehrsaturntext3 {
    color: white;
    position: absolute;
    top: 750px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}

.zurückzusaturn1 {
    color: white;
    position: absolute;
    left: 50px;
    top: 1200px;
    text-decoration: none;
    font-size: 30px;
}

.zurückzusaturn1:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.audiosaturn2{
    position: absolute;
    right: 50px;
    bottom: 50px;
}

/**********************************************************************************************Mond*/

.mond {
    /*mond*/
    background-image: url(img/bg-mond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


.mondtext {
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.mondtext1 {
    color: white;
    position: absolute;
    top: 300px;
    left: 50px;
    right: 50px;
    width: 600px;
    text-decoration: none;
    font-size: 30px;
    text-align: left;
}

.mondtext2 {
    color: white;
    position: absolute;
    top: 640px;
    width: 450px;
    left: 50px;
    text-decoration: none;
    font-size: 30px;
    text-align: left;
}

.mondtext3 {
    color: white;
    position: absolute;
    top: 300px;
    width: 900px;
    right: 50px;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
}

.mondtext4 {
    color: white;
    position: absolute;
    top: 340px;
    width: 450px;
    right: 50px;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
}


.audioeagle {
    position: absolute;
    left: 125px;
    top: 600px;
}


.zumond2 {
    color: white;
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zumond2:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

/************************************************************************************Mond 2*/

.mondbilder {
    /*mondbilder*/
    background-image: url(img/bg-mehrmond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.zurückzumond1 {
    color: white;
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zurückzumond1:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.mehrmondtext {
    color: white;
    position: absolute;
    right: 50px;
    text-align: right;
    font-size: 40px;
    width: 1300px;
}

.audio-smallstep {
    position: absolute;
    left: 800px;
    top: 1200px;
}

/**********************************************************************************Mars*/
.mars {
    /*mars*/
    background-image: url(img/bg-mars.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


.marstext {
    color: white;
    position: absolute;
    top: 200px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
}

.marstext1 {
    color: white;
    position: absolute;
    top: 400px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
}

.marstext2 {
    color: white;
    position: absolute;
    top: 600px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
}

.marstext3 {
    color: white;
    position: absolute;
    top: 850px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
}

.zumars2 {
    color: white;
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zumars2:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.audiomars{
    position: absolute;
    left: 50px;
    bottom: 50px;
}

/**********************************************************************************Mars 2*/
.marsbilder {
    /*marsbilder*/
    background-image: url(img/bg-mehr-mars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.containermehrmars {
    justify-content: space-between;
}

.mehrmarstext {
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    width: 500px;
}

.mehrmarstext1 {
    color: white;
    position: absolute;
    top: 300px;
    left: 750px;
    text-decoration: none;
    font-size: 35px;
    width: 500px;
}


.mehrmarstext2 {
    color: white;
    position: absolute;
    top: 600px;
    right: 650px;
    text-decoration: none;
    font-size: 35px;
    width: 500px;
}

.mehrmarstext3 {
    color: white;
    position: absolute;
    top: 800px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    width: 500px;
}

.zurückzumars1 {
    color: white;
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zurückzumars1:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.audiomars2{
    position: absolute;
    right:50px;
    top: 150px;
}

/**********************************************************************************ISS*/

.iss {
    /*iss*/
    background-image: url(img/bg-iss11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.isstext {
    color: white;
    position: absolute;
    top: 150px;
    left: 50px;
    text-decoration: none;
    font-size: 35px;
    width: 1700px;
}

.isstext1 {
    color: white;
    position: absolute;
    top: 300px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    width: 700px;
    text-align: right;
}

.weiterzuiss2 {
    color: white;
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.weiterzuiss2:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

/**********************************************************************************ISS 2*/

.issbilder {
    /*issbilder*/
    background-image: url(img/bg-iss-4.jpg);
    height: 100vh;
    background-size: cover;
    margin: 0;
}

.mehrisstext {
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
    text-decoration: none;
    font-size: 35px;
    width: 1300px;
}

.mehrisstext1 {
    color: white;
    position: absolute;
    bottom: 100px;
    right: 50px;
    text-decoration: none;
    font-size: 35px;
    width: 1300px;
    text-align: right;
}

.zurückzuiss1 {
    color: white;
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zurückzuiss1:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.zudenastronautenderiss {
    color: white;
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zudenastronautenderiss:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

/**********************************************************************************Weltraumspaziergang*/

.issbilder2 {
    /*issbilder2*/
    background-image: url(img/bg-iss-5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.weltraumspaziergang {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    left: 300px;
    text-decoration: none;
    font-size: 55px;
    width: 1300px;
    text-align: right;
}

.zurückzuiss2 {
    color: white;
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zurückzuiss2:hover {
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.zudenastronauten {
    color: rgb(0, 0, 0);
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zudenastronauten:hover {
    color: rgb(0, 0, 0);
    font-size: 35px;
}

/**********************************************************************************Die Astronauten der ISS*/

.astronautentext-head {
    color: white;
    position: absolute;
    left: 150px;
    font-size: 35px;
    text-decoration: none;

}

.text-ulf-merbold {
    color: white;
    position: absolute;
    width: 400px;
    left: 50px;
    font-size: 20px;
    text-decoration: none;
    top: 670px;
    text-align: center;
}

.text-thomas-reiter {
    color: white;
    position: absolute;
    width: 400px;
    left: 700px;
    font-size: 20px;
    text-decoration: none;
    top: 670px;
    text-align: center;
}

.text-alexander-gerst {
    color: white;
    position: absolute;
    width: 400px;
    left: 1350px;
    font-size: 20px;
    text-decoration: none;
    top: 670px;
    text-align: center;
}

.text-matthias-maurer {
    color: white;
    position: absolute;
    width: 400px;
    left: 1950px;
    font-size: 20px;
    text-decoration: none;
    top: 670px;
    text-align: center;
}

.astronauten {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.merbold {
    position: absolute;
    top: 180px;
    left: 50px;
    height: 500px;
    width: 396px;
}

.reiter {
    position: absolute;
    top: 180px;
    left: 700px;
    height: 500px;
    width: 396px;
}

.gerst {
    position: absolute;
    top: 180px;
    left: 1350px;
    height: 500px;
    width: 396px;
}

.maurer {
    position: absolute;
    top: 180px;
    left: 1950px;
    height: 500px;

    width: 396px;
}


/**********************************************************************************Erde*/
.erde {
    background-image: url(img/bg-erde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.erdetext {
    color: white;
    position: absolute;
    width: 900px;
    left: 50px;
    font-size: 30px;
    text-decoration: none;
    top: 100px;
    text-align: left;
}

.erdetext1 {
    color: white;
    position: absolute;
    width: 900px;
    right: 50px;
    font-size: 30px;
    text-decoration: none;
    top: 100px;
    text-align: right;
}

.zuerdeteil2 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zuerdeteil2:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

/**********************************************************************************Erde2*/
.erde2 {
    background-image: url(img/bg-erde3.jpg);
    background-position: center;
    background-position-y: unset;
    background-size: cover;
}

.erdestruktur {
    color: white;
    position: absolute;
    width: 800px;
    left: 50px;
    font-size: 30px;
    text-decoration: none;
    top: 100px;
    text-align: left;
}

.erdegeologie {
    color: white;
    position: absolute;
    width: 800px;
    left: 900px;
    font-size: 30px;
    text-decoration: none;
    top: 400px;
    text-align: center;
}


.erdeklima {
    color: white;
    position: absolute;
    width: 800px;
    left: 50px;
    font-size: 30px;
    text-decoration: none;
    top: 700px;
    text-align: left;
}

.erdeoekosystem {
    color: white;
    position: absolute;
    width: 800px;
    right: 50px;
    font-size: 30px;
    text-decoration: none;
    top: 100px;
    text-align: right;
}

.erdeerforschung {
    color: white;
    position: absolute;
    width: 800px;
    right: 50px;
    font-size: 30px;
    text-decoration: none;
    top: 700px;
    text-align: right;
}

.zuerdeteil1 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zuerdeteil1:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.zuerdeteil3 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zuerdeteil3:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

/**********************************************************************************Erde 3*/

.erde3 {
    background-image: url(img/bg-erde-3-kontinente.jpg);
    background-position: center;
    background-position-y: unset;
    background-size: cover;
    background-repeat: no-repeat;
}

.videoafrika {
    position: absolute;
    left: 1300px;
    top: 600px;
}

.videoaustralien {
    position: absolute;
    right: 400px;
    bottom: 250px;
}

.videoasien {
    position: absolute;
    right: 250px;
    top: 450px;
}

.videoeuropa {
    position: absolute;
    right: 1300px;
    top: 200px;
}

.videosuedamerika {
    position: absolute;
    left: 450px;
    bottom: 500px;
}

.videousa {
    position: absolute;
    left: 180px;
    top: 300px;

}

.weiterzuerdeteil4 {
    color: rgb(0, 0, 0);
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.weiterzuerdeteil4:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

.zurückzuerdeteil2 {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zurückzuerdeteil2:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}

/**********************************************************************************Erde 4*/

.erde4 {
    background-image: url(img/bg-erde-3.jpg);
    background-position: center;
    background-position-y: unset;
    background-size: cover;
    background-color: aqua;
}

.dienatur {
    position: absolute;
    color: white;
    left: 450px;
    font-weight: bolder;
    font-size: 40px;
}

.esgibtmil {
    position: absolute;
    color: white;
    right: 300px;
    left: 300px;
    top: 250px;
    font-size: 35px;
    text-align: center;
}

.dietierwelt {
    position: absolute;
    color: white;
    right: 350px;
    left: 350px;
    top: 450px;
    font-size: 35px;
    text-align: center;
}

.klimawandel {
    position: absolute;
    color: white;
    right: 250px;
    left: 250px;
    top: 700px;
    font-size: 35px;
    text-align: center;
}

.esgibtauch {
    position: absolute;
    color: white;
    right: 100px;
    left: 100px;
    top: 850px;
    font-size: 35px;
    text-align: center;
}

.insgesamt {
    position: absolute;
    color: white;
    left: 25px;
    right: 25px;
    top: 1000px;
    font-size: 35px;
    text-align: center;
}

.voegelaudio {
    position: absolute;
    left: 1125px;
    bottom: 50px;

}

.zurückzuerdeteil3 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-decoration: none;
    font-size: 30px;
}

.zurückzuerdeteil3:hover {
    color: rgb(174, 168, 168);
    font-size: 35px;
}